{% extends 'base.html' %}

{% block body %}
<div style="padding:10%; padding-top:0%;">
    <h5 style="font-weight:bolder; text-align:center;">Credit Card Basics</h5>
    <br><br>
    <div>
        <p>
            Credit cards are an essential part of the modern economy, allowing consumers to make purchases and build credit. 
            While credit cards offer many benefits, they can also be risky if not used responsibly. 
            This course will provide an overview of credit cards, how they work, and how they are similar and different from debit cards.

        </p>
    </div>
    <br>
    <div>
        <p  style="font-weight:bolder;">What are Credit Cards?</p>
        <p>
            Credit cards are a type of payment card that allows consumers to borrow money to make purchases. 
            Credit cards are issued by banks, credit unions, and other financial institutions. 
            Credit cards have a credit limit, which is the maximum amount that a consumer can borrow at any given time.
        </p>
        <div style="display:flex; justify-content:center;">
            <img src="../static/mod1creditcard.jpg">
        </div>
        
    </div>
    <div>
        <p style="font-weight:bolder;">What is Credit?</p>
        <p>
            <span style="font-weight:bolder;">Credit </span>is the ability to borrow money or access goods or services with the understanding that you’ll pay later. 
            A <span style="font-weight:bolder;">credit score </span>is a numerical rating representing the perceived ability of a person to fulfill their financial commitments, 
            based on an analysis of their credit history and financial circumstances.

        </p>
    </div>
    <br>
    <div>
        <p style="font-weight:bolder;">How Do They Work?</p>
        <p>
            To make a purchase with a credit card, the consumer presents the card to the merchant, 
            who processes the payment through a card reader. The consumer receives a statement each month that 
            outlines the transactions made with the card and the amount owed. Credit cards have an interest rate, 
            which is the cost of borrowing money. If the consumer does not pay the balance in full each month, 
            interest will be charged on the outstanding balance. Minimum payments are required each month, 
            but paying only the minimum amount due can result in the consumer paying more in interest over time.
        </p>
    </div>
    <br>
    <div>
        <p style="font-weight:bolder;">Why are they important?</p>
        <p>
            If you have a higher credit score, you can get lower interest rates. 
            Here are some people who care about your credit score:
        </p>
        <div style="padding-left:1%;">
            <ul>
                <li>Creditors/Lenders</li>
                <ul>
                    <li>For example: Car/house loans</li>
                </ul>
                <li>Insurance companies</li>
                <li>Landlords</li>
                <li>Employers</li>
                <li>Utility Companies</li>
                <li>Government Agencies</li>
                <li>You!</li>
            </ul>
        </div>
    </div>
    <br>
    <div>
        <p style="font-weight:bolder;">Credit Card vs. Debit Card</p>
        <p>
            Credit cards and debit cards have important similarities and differences.
        </p>
        <br>
        <p>
            Here is a list of their similarities. 
        </p>
        <br>
        <p>Both cards:</p>
        <div style="padding-left:2%;">
            <p> - &nbsp are plastic cards that are used for making payments electronically.</p>
            <p> - &nbsp are issued by financial institutions such as banks, credit unions, or other financial organizations</p>
            <p> - &nbsp may have fees associated with their use, such as annual fees or transaction fees.</p>
            <p> - &nbsp offer convenience and security in making purchases without carrying cash.</p>
            <p> - &nbsp can be canceled or replaced if lost or stolen.</p>
        </div>
        <br>
        <p >Here are some differences between credit cards and debit cards.</p>
        <div>
            <div class="container text-center;">
                <div class="row row-cols-2" style="text-align:left; width:75%;">
                  <div class="col py-1" style="border:black solid 1.2px; border-right:none; border-bottom:none;">Credit Card</div>
                  <div class="col py-1" style="border:black solid 1.2px; border-bottom:none;">Debit Card</div>
                  <div class="col py-1" style="border:black solid 1.2px; border-right:none;">
                    <p>
                        Credit cards allow consumers to borrow money to make purchases and pay it back over time. 
                    </p>
                    <br>
                    <p>
                        Credit cards can help consumers build credit.
                    </p>
                  </div>
                  <div class="col py-1" style="border:black solid 1.2px;">
                    <p>
                        Debit cards are linked to a checking account and allow consumers to make purchases with funds they already have.
                    </p>
                    <br>
                    <p>
                        Debit cards do not impact credit scores. 
                    </p>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <br>
    <br>
    <div>
        <p style="font-weight:bolder;"> Recap</p>
        <p>
            Credit cards are an important financial tool that can offer many benefits, such as building credit
            and earning rewards. However, it's important to use credit cards responsibly to avoid debt and damage to credit scores. 
            By following the tips and information presented in this course, 
            you can make informed decisions about credit cards and use them responsibly.
        </p>
    </div>
    <button class='text-light' style=" float:right; margin-top:5%; padding-top:1.5%; padding-left:3%; padding-bottom:1.5%; padding-right:3%; border:none; background-color:#2a7877; border-radius:15px; text-decoration:none;">
        Mark as Complete
    </button>
    
</div>
{% endblock %}