{% extends 'base.html' %}

{% block body %}

<div style="padding:10%; padding-top:0%;">
    <h5 style="font-weight:bolder; text-align:center;">Managing Debt</h5>
    <br><br>
    <div>
        <p>
            Debt is the amount of money borrowed by an individual or an
            entity, usually from a lender such as a bank or a financial institution, 
            that needs to be repaid over a specific period of time. Debt has interest, and can take various forms. 
            They can be considered either good or bad depending on your purpose and management of the debt.
        </p>
    </div>
    <div>
        <p style="font-weight:bolder;">Types of Debt</p>
        <ol >
            <li style="padding-left:1%;">
                Credit Card Debt: Debt accumulated through the use of credit cards to purchase 
                goods and services that are paid back at a later time. 
                It often comes with high-interest rates and penalties for late payments.
            </li>
            <li style="padding:1%;">
                Student Loans: Debt taken out by students to finance their education, 
                which typically has a lower interest rate than other forms of debt but can take a long time to pay off.
            </li>
            <li style="padding-left:1%;">
                Mortgages: Debt taken out to purchase a home, which is secured by the property. 
                Mortgages usually have a fixed interest rate and require a down payment.
            </li>
            <li style="padding:1%;">
                Car Loans: Debt taken out to purchase a car, which is secured by the vehicle. 
                Car loans typically have a fixed interest rate and require a down payment.
            </li>
            <li style="padding-left:1%;">
                Business Loans: Debt taken out by a business to finance its operations or expansion. 
                These loans can have a fixed or variable interest rate and may be secured or unsecured.
            </li>
        </ol>
        <br>
        <div style="display:flex; justify-content:center;">
            <img width='65%' src="../static/module3img1.jpg">
        </div>
        <br>
    </div>
    <div>
        <br>
        <p style="font-weight:bolder;">Good vs. Bad debt</p>
        <p>
            Good debt is debt that is used to purchase assets or generate income, such as a 
            mortgage for a home or student loans for education. Bad debt, on the other hand, 
            is debt that is used to purchase liabilities or 
            items that decrease in value, such as credit card debt for unnecessary purchases.
        </p>
        <br>
        <div style="display:flex; justify-content:center;">
            <img width='65%' src="../static/module3img2.jpg">
        </div>
        <br>
    </div>
    <div>
        <p style="font-weight:bolder;">The Cost of Debt</p>
        <p>
            When poorly managed, you may need to pay a lot of more than the amount borrowed. 
            This may come in the form of interest rates, fees, and penalties. The cost of debt 
            can vary depending on the type of debt, your credit score, and the credit card you have.
            High-interest rates and fees can make debt more expensive and difficult to manage, 
            while low-interest rates can make it easier to pay off debt over time. 
        </p>
    </div>
    <div>
        <p style="font-weight:bolder;">Creating a Debt Management Plan</p>
        <p>
            Think of creating a debt management plan like planning a strategy to beat the final boss in your favorite video game -
            except the boss in this case is debt, and the reward for defeating it is a better financial future!
        </p>
        <br>
        <p>Here are some steps you’ll need to take:</p>
        <ul style="margin-left:1%;">
            <li style="padding-left:1%;">
                Assessing your debt (e.g., how much you owe, interest rates, minimum payments)
            </li>
            <li style="padding:1%;">
                Prioritizing your debt (e.g., paying off high-interest debt first)
            </li>
            <li style="padding-left:1%;">
                Creating a budget to manage your debt (e.g., setting aside money for debt payments)
            </li>
            <li style="padding:1%;">
                Negotiating with creditors (e.g., requesting a lower interest rate)
            </li>
        </ul>
        <br>
        <div style="display:flex; justify-content:center;">
            <img width='65%' src="../static/module3img3.jpg">
        </div>
        <br>
    </div>
    <div>
        <p style="font-weight:bolder;">Tips for Paying Off Debt</p>
        <p>
            Good debt is debt that is used to purchase assets or generate income, such as a 
            mortgage for a home or student loans for education. Bad debt, on the other hand, 
            is debt that is used to purchase liabilities or 
            items that decrease in value, such as credit card debt for unnecessary purchases.
        </p>
        <div style="margin-left:2%;">
            <p> - &nbsp How managing debt can impact your credit score </p>
            <p> - &nbsp Making more than the minimum payment </p>
            <p> - &nbsp Paying off high-interest debt first </p>
            <p> - &nbsp Using balance transfers to consolidate debt </p>
            <p> - &nbsp Avoiding taking on more debt </p>
        </div>
    </div>
    <br>
    <div>
        <p style="font-weight:bolder;">Recap</p>
        <p>
            Now that you know what debt is, how it can be good, and how to manage your debt
            , you are prepared to start our personality quiz!
        </p>
    </div>
</div>

{% endblock %}