{% extends 'base.html' %}

{% block body %}

<div style="padding:10%; padding-top:0%;">
    <h5 style="font-weight:bolder; text-align:center;">Building Credit</h5>
    <br><br>
    <div>
        <p  style="font-weight:bolder;">What is Credit?</p>
        <p>
            <span style="text-decoration:underline;">Credit</span> is the ability to borrow money or access goods or services with the understanding that you’ll pay later. 
            A <span style="text-decoration:underline;">credit score</span> is a numerical rating representing the perceived ability of a person to fulfill their 
            financial commitments, based on an analysis of their credit history and financial circumstances.
        </p>
        <div style="display:flex; justify-content:center;">
            <img src="../static/credit_score.png">
        </div>
    </div>
    <div>
        <p style="font-weight:bolder;">Why are they important?</p>
        <p>
            If you have a higher credit score, you can get lower interest rates. 
            Here are some people who care about your credit score:
        </p>
        <div style="padding-left:2%;">
            <ul>
                <li> &nbsp Creditors/Lenders</li>
                <ul>
                    <li> &nbsp For example: Car/house loans</li>
                </ul>
                <li> &nbsp Insurance companies</li>
                <li> &nbsp Landlords</li>
                <li> &nbsp Employers</li>
                <li> &nbsp Utility Companies</li>
                <li> &nbsp Government Agencies</li>
                <li> &nbsp You!</li>
            </ul>
        </div>
        <br>
        <div style="display:flex; justify-content:center;">
            <img src="../static/module2_img2.jpg" width="65%">
        </div>
    </div>
    <br><br>
    <div>
        <p style="font-weight:bolder;">What Factors Make Up Your Credit Score?</p>
        <div style="padding-left:2%;">
            <ul>
                <li> &nbsp Length of history</li>
                <li> &nbsp New Accounts</li>
                <li> &nbsp Amount owed</li>
                <li> &nbsp Types of credit</li>
                <li> &nbsp Payment History</li>
            </ul>
        </div>
    </div>
    <br>
    <div>
        <p style="font-weight:bolder;">So…How Do You Build Credit?</p>
        <div style="padding-left:2%;">
            <ol>
                <li>
                    <p  style="margin-left:0.5%;">
                        Pay your bills on time: Late payments can significantly harm your credit score. 
                        Always pay your bills on time, and if you can't, contact your creditors to work out a payment plan.
                    </p>
                </li>
                <li>
                    <p  style="margin-left:0.5%;">
                        Keep your credit card balances low: High credit card balances can also hurt your credit score. 
                        Keep your balances low and pay them off in full each month if possible.
                    </p>
                </li>
                <li>
                    <p style="margin-left:0.5%;">
                        Use credit responsibly: Avoid opening too many credit accounts at once, as this can 
                        indicate to lenders that you're taking on too much debt. 
                        Also, avoid maxing out your credit cards or using them for unnecessary purchases.
                    </p>
                </li>
            </ol>
        </div>
    </div>
    <div>
        <p style="font-weight:bolder;"> Recap</p>
        <p>
            Watch the following Graham Stephan video for a comprehensive overview of building a good credit score.
        </p>
        <div style="display:flex; justify-content:center; margin:5%;">
            <iframe  width="740" height="440"
                src="https://youtube.com/embed/Ieg0bZ-zqE0?control=1">
            </iframe>
        </div>
    </div>
    <form method=post>
        {{form.hidden_tag()}}
        <button>
            {{form.mark_complete(class='text-light', style=" float:right; margin-top:5%; padding-top:1.5%; padding-left:3%; padding-bottom:1.5%; padding-right:3%; border:none; background-color:#2a7877; border-radius:15px; text-decoration:none;")}}
        </button>
    </form>
</div>

{% endblock %}