{% extends 'base.html' %}

{% block body %}
<div style="padding:10%; padding-top:0%;">
    <h5 style="font-weight:bolder; text-align:center;">Personality Quiz</h5>
    <br><br>
    
    <form>
        <div style="margin-bottom:1%;">
            <h4 style="padding-bottom:1%;">Question</h4>
            <input type="text" name="text">
        </div>
        <div style="margin-bottom:1%;">
            <h4 style="padding-bottom:0.5%;">Question</h4>
            <div>
                <input type ='radio' name ='group_category' value="" id="id1">
                <label for = "id1"> ID1</label>
            </div>
            <div>
                <input type ='radio' name ='group_category' value="" id="id2">
                <label for = "id2"> ID2</label>
            </div>
            <div>
                <input type ='radio' name ='group_category' value="" id="id3">
                <label for = "id3"> ID3</label>
            </div>
        </div>
        <div style="margin-bottom:1%;">
            <h4>Question</h4>
            <div>
                <input type ='radio' name ='group_category1' value="" id="id4">
                <label for = "id4"> ID4</label>
            </div>
            <div>
                <input type ='radio' name ='group_category1' value="" id="id5">
                <label for = "id5"> ID5</label>
            </div>
            <div>
                <input type ='radio' name ='group_category1' value="" id="id6">
                <label for = "id6"> ID6</label>
            </div>
        </div>
        <div style="margin-bottom:1%;">
            <h4>Question</h4>
            <div>
                <input type ='radio' name ='check1' value="" id="id10">
                <label for = "id10"> ID10</label>
            </div>
            <div>
                <input type ='radio' name ='check1' value="" id="id11">
                <label for = "id11"> ID11</label>
            </div>
            <div>
                <input type ='radio' name ='check1' value="" id="id12">
                <label for = "id12"> ID12</label>
            </div>
        </div>
        <div style="margin-bottom:1%;">
            <h4>Question</h4>
            <div>
                <input type ='radio' name ='group_category2' value="" id="id7">
                <label for = "id7"> ID7</label>
            </div>
            <div>
                <input type ='radio' name ='group_category2' value="" id="id8">
                <label for = "id8"> ID8</label>
            </div>
            <div>
                <input type ='radio' name ='group_category2' value="" id="id9">
                <label for = "id9"> ID9</label>
            </div>
        </div>
        <input type="submit">
    </form>
    
</div>

{% endblock %}