{% extends 'base.html' %}

{% block body %}

<div style="padding:10%; padding-top:0%;">
    <h5 style="font-weight:bolder; text-align:center;">Understanding Rewards Programs </h5>
    <br><br>
    <div>
        <p>
            One of the many benefits of credit cards is the rewards programs they offer. 
            Different credit cards offer different rewards, but here are the most common ones. 
            Consider these benefits when you choose the best credit card for you. 
            In this module, we will take a closer look at these three common credit card rewards programs.
        </p>
    </div>
    <br>
    <div>
        <br>
        <p style="font-weight:bolder;">Intro Offer</p>
        <p>
            Introductory offers are one of the most popular types of credit card rewards programs. These offers 
            typically come in the form of an introductory 0% APR period or a sign-up bonus. 
            A 0% APR period allows you to carry a balance on your credit card without paying any interest for a set period, 
            which can range from 6 to 18 months. A sign-up bonus typically involves earning a certain number 
            of reward points or cashback when you spend a specific amount on your card within a specified period.
        </p>
    </div>     
    <br>
    <div>
        <p style="font-weight:bolder;">Cash back Percentages</p>
        <p>
            Cashback rewards programs are another popular type of credit card rewards program. 
            These programs offer you a percentage of cashback on all your purchases. 
            For example, if your card offers a 1.5% cash back rate and you spend $1,000 on your card, 
            you will receive $15 cashback. Some cards offer higher cashback rates for specific 
            spending categories, such as dining or gas, while others offer a flat cashback rate for all purchases.
        </p>
        <br>
        <div style="display:flex; justify-content:center;">
            <img width='65%' src="../static/module4image1.jpg">
        </div>
        <br>
    </div>
    <br>
    <div>
        <p style="font-weight:bolder;">Travel Miles</p>
        <p>
            Travel rewards programs are an excellent option if you love to travel. 
            These programs allow you to earn travel miles on all your purchases, 
            which can be redeemed for flights, hotel stays, and other travel expenses. 
            Some travel rewards programs offer a flat rate of travel miles for all purchases, 
            while others offer higher rates for specific spending categories, such as hotels or dining.
        </p>
        <br>
        <div style="display:flex; justify-content:center;">
            <img width='65%' src="../static/module4image2.webp">
        </div>
        <br>
    </div>
    <br>
    <div>
        <p style="font-weight:bolder;">Recap</p>
        <p>
            All in all, credit card rewards programs are an excellent way for you to get the most out of your credit card(s). 
            These programs offer a range of benefits, including cash back percentages, travel miles, and introductory offers. 
        </p>
    </div>
</div>

{% endblock %}