<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<!-- This is where I start the about us page -->
<div>
    <!-- About the creators -->
    <div class="row" style="border-top:black solid 4px;">
        <!-- Anlisa's Section -->
        <div  class="col p-2" style="border-left:black solid 4px;">
            <h4> Anlisa Liu - Back-End Developer</h4>
            <img class='p-3 center' style="text-align:center; margin-left:20%;" src="./static/Anlisa.jpg"  width='45%' alt="'please input photo here">
            <p class="p-2">
                Anlisa Liu is a regular senior at Oakland Technical High School. 
                There is really not much to say, but she is currently applying to scholarships, and hoping to get through in life.
                In my free time, I enjoy hanging out with my friends, sleeping, and eating.
            </p>
        </div>
        <!-- Amy's Section -->
        <div class="col p-2" style="border-right:black solid 4px; border-left:black solid 4px;">
            <h4 class="pb-2">Amy Tran - Front-End Developer</h4>
            <img class='p-3' style="text-align:center; margin-left:20%;" width='45%'src="./static/Amy.JPG"  alt="'please input photo here">
            <p class="p-2">Amy is a senior at Oakland Technical High School. 
                She is a the Co-President of her school’s Vietnamese Student Association
                 and a Front-End Engineering Fellow at LaunchDarkly. 
                In her free time, she enjoys working out, going to cafes, and spending time with friends!</p>
        </div>
    </div>

    <!-- Our purpose -->
    <div style="border:black solid 4px;">
        <p class="p-3">
            We are creating an educational website to help young adults, ages 18-24, 
            learn about credit cards. 
            Almost one in two adults do not have a credit card or have low credit 
            scores due to ineffective financial literacy education 
            and impulsive shopping habits. However, people with low-credit card
            scores pay thousands more in interest when borrowing money. 
            We want to effectively help people get higher credit card scores by teaching 
            them in an engaging way.
        </p>
    </div>
</div>
{% endblock %}