{% extends "base.html" %}

{% block body %}
        <h1></h1>

        <form method=post>
            {{ form.hidden_tag() }}
            <!-- special type of field it makes form more secure -->
            <!-- even if comment out, jinja always looks at code in brackets -->

            <h5 style="text-align:center;">
                {{ form.subject.label }} <br>
                {{ form.subject(size='100%', placeholder="123", style='text-align:center; color:black; padding:0.5%;') }}
                <!--List the errors for this field-->
                {% for error in form.subject.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </h5>
            <p style="text-align:center;">
                {{ form.content.label }} <br>
                {{ form.content(style='width:92%;  color:black; padding:0.5%;') }}
                <!--List the errors for this field-->
                {% for error in form.content.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.tag.label }} <br>
                {{ form.tag(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.tag.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.tag2.label }} <br>
                {{ form.tag2(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.tag2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{form.submit()}}
            </p>
        </form>
        
{% endblock %}
