<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<div style=" display:flex; justify-content:start; margin-left:3%; font-family:Inter;">
    <div style="width:55%; padding-top:1%;" >
        <h1 class="mb-5" style="color: #2a7877;">
            Unlock the power of credit with Credit Clarity!   
        </h1>
        
        <p style="width:89%;">
            Designed for young adults ages 18-24, we demystify the world of credit cards and empower you
            with the knowledge and tools needed to make informed financial decisions. 
            Start your credit journey today and set yourself up for a secure financial future!
        </p>
        <a href="/modules" style="">
            <button class='text-light' style="margin-top:3%; padding-top:1.5%; padding-left:3%; padding-bottom:1.5%; padding-right:3%; border:none; background-color:#2a7877; border-radius:15px; text-decoration:none;">
                Start Learning
            </button>
        </a>
    </div>
    <div style="margin-top:0%; margin-left:15%;">
        <img width="110%" src="../static/credit_cards_stack.png">
    </div>
</div>
<br><br><br>
{% endblock %}