
{% extends 'base.html' %}

{% block body %}
<div class='mt-1' style="display:flex; justify-content:center; padding-left: 1%;">
{% if verified_modules %}
    {% for course in verified_modules %}
        {% if course in current_user.CompletedModules %}
            <div>
                <div >
                    <img width='15%' style='border-radius:100%; background-color:green; padding:2%;'src="../static/check-done.png">
                </div>
                <p style="font-size:50%; color:grey;">Module {{loop.index}}</p>
            </div>
            {% if loop.index == verified_modules|length %}

            {% else %}
                <div style="border-bottom:5px green solid; margin-left:-17.5%; margin-bottom:10%; margin-top:-1.75%;">
                    <p style="opacity:0;">---------</p>
                </div>
            {% endif %}
        {% else %}
            <div>
                <div>
                    <img src="../static/futurecircle.png" width='17%' style='border-radius:100%; background-color:lightgrey; '>
                </div>
                <p style="font-size:50%; color:grey;">Module {{loop.index}}</p>
            </div>
            {% if loop.index == verified_modules|length %}

            {% else %}
                <div style="border-bottom:5px lightgrey solid; margin-left:-17%; margin-bottom:10%; margin-top:-1.75%;">
                    <p style="opacity:0;">--------------</p>
                </div>
            {% endif %}
        {% endif %}
        {% if loop.index == 4 %}
            {% if current_user.quizComplete %}
                <div>
                    <div>
                        <img width='15%' style='border-radius:100%; background-color:green; padding:2%;'src="../static/check-done.png">
                    </div>
                    <p style="font-size:50%; color:grey;">Personality Quiz</p>
                </div>
                <div style="border-bottom:5px green solid; margin-left:-17.5%; margin-bottom:10%; margin-top:-1.75%;">
                    <p style="opacity:0;">---------</p>
                </div>
            {% else %}
                <div>
                    <div>
                        <img src="../static/futurecircle.png" width='17%' style='border-radius:100%; background-color:lightgrey; '>
                    </div>
                    <p style="font-size:50%; color:grey;">Personality Quiz</p>
                </div>
                <div style="border-bottom:5px lightgrey solid; margin-left:-17%; margin-bottom:10%; margin-top:-1.75%;">
                    <p style="opacity:0;">--------------</p>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
</div>

<h4 style="text-align:center; color:#2a7877; margin-bottom:8%;" ><strong>Explore Modules</strong></h4>

{% if verified_modules %}
    <div class='row row-cols-3' style="display:flex; justify-content:center;">
        {% for module in verified_modules %}
            <div class='col card m-2' style="width:25%; background-color:#2a7877; border-radius:5%;">
                <a  href="/module/{{module.id}}" style='font-size:150%' class='text-light p-3 text-decoration-none'>
                    <!-- style="text-decoration:none; padding:1.5%; padding-bottom:3%; background-color:#54B6B4; color:white; border-radius:5%; " -->
                    {% if module.cover_image %}
                        <img  width = "85%" style="margin-left:9%; margin-top:2%" src="data:image;base64,{{base64encode(module.cover_image.read())}}">
                    {% else %}
                        <img  class='card-img'  style="margin-top:2%" width = "75%" src="/static/no_image.png">
                    {% endif %}
                    <br>
                    <div class="card-body">
                        <strong class="card-title"> {{module.title}} </strong>
                    </div>
                    {% if module in current_user.CompletedModules %}
                        <div style="margin-left:5%; margin-top:-3%;">
                            <img src="./static/complete.png" style="width:8%;">
                            <small style="font-size:100%;">Complete</small>
                        </div>
                    {% else %}
                        <div style="margin-left:5%; margin-top:-3%;">
                            <img src="./static/incomplete.png" style="width:8%;">
                            <small style="font-size:100%;">Incomplete</small>
                        </div>
                    {% endif %}
                    <br>
                </a>
            </div>
            {% if loop.index == 4 %}
                <div class='col card m-2' style="width:25%; background-color:#54B6B4; border-radius:5%;">
                    <a  href="/moduleQuiz" style='font-size:150%' class='text-light p-3 text-decoration-none'>
                        <!-- style="text-decoration:none; padding:1.5%; padding-bottom:3%; background-color:#54B6B4; color:white; border-radius:5%; " -->
                            <img  class='card-img'  style="margin-top:2%" width = "75%" src="/static/pq-cover.jpg">
                        <br>
                        <div class="card-body">
                            <strong class="card-title"> Personality Quiz </strong>
                        </div>
                        {% if current_user.quizComplete %}
                            <div style="margin-left:5%; margin-top:-3%;">
                                <img src="./static/quizComplete.png" style="width:8%;">
                                <small style="font-size:100%;">Complete</small>
                            </div>
                        {% else %}
                            <div style="margin-left:5%; margin-top:-3%;">
                                <img src="./static/personality_quiz_x.png" style="width:8%;">
                                <small style="font-size:100%;">Incomplete</small>
                            </div>
                        {% endif %}
                        <br>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
        <div class='col card m-2' style="width:25%; background-color:#1C6363; border-radius:5%;">
            <a  href="/module/new" style='font-size:150%' class='text-light p-3 text-decoration-none'>
                <!-- style="text-decoration:none; padding:1.5%; padding-bottom:3%; background-color:#54B6B4; color:white; border-radius:5%; " -->
                <img src="./static/plus.jpg" style=" width:100%; margin-bottom:9%; background-color: white; border-radius:10%;">
                <br>
                <div class="card-body">
                    <strong class="card-title"> Add your Course </strong>
                </div>
            </a>
        </div>
        <!-- ask wright -->
        {%  if (verified_modules|length)%3 == 0 %}
            <div class='col card m-2' style=" opacity:0; width:25%; background-color:#1C6363; border-radius:5%;">
                    <!-- style="text-decoration:none; padding:1.5%; padding-bottom:3%; background-color:#54B6B4; color:white; border-radius:5%; " -->
                    <img src="./static/plus.jpg" style=" width:100%; margin-bottom:9%; background-color: white; border-radius:10%;">
                    <br>
                    <div class="card-body">
                        <strong class="card-title"> Add your Course </strong>
                    </div>
            </div>
        {% elif (verified_modules|length)%3 == 2 %}
        <div class='col card m-2' style=" opacity:0; width:25%; background-color:#1C6363; border-radius:5%;">
                <!-- style="text-decoration:none; padding:1.5%; padding-bottom:3%; background-color:#54B6B4; color:white; border-radius:5%; " -->
                <img src="./static/plus.jpg" style=" width:100%; margin-bottom:9%; background-color: white; border-radius:10%;">
                <br>
                <div class="card-body">
                    <strong class="card-title"> Add your Course </strong>
                </div>
        </div>
        <div class='col card m-2' style=" opacity:0; width:25%; background-color:#1C6363; border-radius:5%;">
                <!-- style="text-decoration:none; padding:1.5%; padding-bottom:3%; background-color:#54B6B4; color:white; border-radius:5%; " -->
                <img src="./static/plus.jpg" style=" width:100%; margin-bottom:9%; background-color: white; border-radius:10%;">
                <br>
                <div class="card-body">
                    <strong class="card-title"> Add your Course </strong>
                </div>
        </div>
        {% endif %}
    </div>
{% else %}
    <div class='col card m-2' style="width:25%; background-color:#1C6363; border-radius:5%; float:left;">
        <a  href="/module/new" style='font-size:150%' class='text-light p-3 text-decoration-none'>
            <!-- style="text-decoration:none; padding:1.5%; padding-bottom:3%; background-color:#54B6B4; color:white; border-radius:5%; " -->
            <img src="./static/plus.jpg" style=" width:100%; margin-bottom:9%; background-color: white; border-radius:10%;">
            <br>
            <div class="card-body">
                <strong class="card-title"> Add your Course </strong>
            </div>
            <br>
        </a>
    </div>
{% endif %}

<br><br>
{% if (current_user.email == "anlisa.liu2468@gmail.com") %}
    <a href="/verify"  style="display:flex; justify-content:center; text-decoration:none;">
        <button class='text-light' style="margin-top:3%; padding-top:1.5%; padding-left:3%; padding-bottom:1.5%; padding-right:3%; border:none; background-color:#2a7877; border-radius:15px; text-decoration:none;">
            Unverified Courses
        </button>
    </a>
    <br>
{% endif %}
{% if (current_user.email == "amytran2303@gmail.com") %}
    <a href="/verify" style="display:flex; justify-content:center; text-decoration:none;">
        <button class='text-light' style="margin-top:3%; padding-top:1.5%; padding-left:3%; padding-bottom:1.5%; padding-right:3%; border:none; background-color:#2a7877; border-radius:15px; text-decoration:none;">
            Unverified Courses
        </button>
    </a>
    <br>
{% endif %}
<!-- <div style='display:flex; justify-content:center;'>
    <a href="/module/new" class='m-3'style="width:25%; background-color:#1C6363;  border-radius:5%;  padding:1.5%;">
    
        <img src="./static/plus.jpg" style=" width:100%; margin-bottom:9%; background-color: white; border-radius:10%;">
        <br>
        <strong class="text-light" style="font-size:150%;">Add your course</strong>
        <br>
        <br>
    </a>
    <div class='m-3' style="width:25%;  padding:1.5%; padding-bottom:3%;">
    </div>
    <div class='m-3' style="width:25%;  padding:1.5%; padding-bottom:3%;">
    </div>
</div> -->
{% endblock %}