
{% extends 'base.html' %}

{% block body %}
<div class='mt-1' style="display:flex; justify-content:center;">
{% if verified_modules %}
    {% for course in verified_modules %}
        {% if course in current_user.modulesDone %}
            <div>
                <div >
                    <img width='15%' style='border-radius:100%; background-color:green; padding:2%;'src="../static/check-done.png">
                </div>
                <p>Module {{loop.index}}</p>
            </div>
            {% if loop.index == verified_modules|length %}

            {% else %}
                <div style="border-bottom:5px green solid; margin-left:-17%; margin-bottom:10%;">
                    <p style="opacity:0;">---------</p>
                </div>
            {% endif %}
        {% else %}
            <div>
                <div>
                    <img src="../static/futurecircle.png" width='15%' style='border-radius:100%; background-color:lightgrey; '>
                </div>
                <p>Module {{loop.index}}</p>
            </div>
            {% if loop.index == verified_modules|length %}

            {% else %}
                <div style="border-bottom:5px lightgray solid; margin-bottom:5.25%;"><p style="opacity:0;">---------</p></div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
</div>

<h4 style="text-align:center; color:#2a7877; margin-bottom:8%;" ><strong>Explore Modules All({{verified_modules|length}}) Complete{{ current_user.modulesDone|length}}</strong></h4>

{% if verified_modules %}
    <div class='row row-cols-3' style="display:flex; justify-content:center;">
        {% for module in verified_modules %}
            <div class='col card m-2' style="width:25%; background-color:#2a7877; border-radius:5%;">
                <a  href="/module/{{module.id}}" style='font-size:150%' class='text-light p-3 text-decoration-none'>
                    <!-- style="text-decoration:none; padding:1.5%; padding-bottom:3%; background-color:#54B6B4; color:white; border-radius:5%; " -->
                    {% if module.cover_image %}
                        <img  width = "85%" style="margin-left:9%; margin-top:2%" src="data:image;base64,{{base64encode(module.cover_image.read())}}">
                    {% else %}
                        <img  class='card-img'  style="margin-top:2%" width = "75%" src="/static/no_image.png">
                    {% endif %}
                    <br>
                    <div class="card-body">
                        <strong class="card-title"> {{module.title}} </strong>
                    </div>
                    <br>
                </a>
            </div>
        {% endfor %}
        <div class='col card m-2' style="width:25%; background-color:#1C6363; border-radius:5%;">
            <a  href="/module/new" style='font-size:150%' class='text-light p-3 text-decoration-none'>
                <!-- style="text-decoration:none; padding:1.5%; padding-bottom:3%; background-color:#54B6B4; color:white; border-radius:5%; " -->
                <img src="./static/plus.jpg" style=" width:100%; margin-bottom:9%; background-color: white; border-radius:10%;">
                <br>
                <div class="card-body">
                    <strong class="card-title"> Add your Course </strong>
                </div>
                

            </a>
        </div>
    </div>
{% else %}
    <div class='col card m-2' style="width:25%; background-color:#1C6363; border-radius:5%; float:left;">
        <a  href="/module/new" style='font-size:150%' class='text-light p-3 text-decoration-none'>
            <!-- style="text-decoration:none; padding:1.5%; padding-bottom:3%; background-color:#54B6B4; color:white; border-radius:5%; " -->
            <img src="./static/plus.jpg" style=" width:100%; margin-bottom:9%; background-color: white; border-radius:10%;">
            <br>
            <div class="card-body">
                <strong class="card-title"> Add your Course </strong>
            </div>
            <br>
        </a>
    </div>
{% endif %}

<br><br>
{% if (current_user.email == "s_anlisa.liu@ousd.org") %}
    <a href="/verify"  style="display:flex; justify-content:center; text-decoration:none;">
        <button class='text-light' style="margin-top:3%; padding-top:1.5%; padding-left:3%; padding-bottom:1.5%; padding-right:3%; border:none; background-color:#2a7877; border-radius:15px; text-decoration:none;">
            Unverified Courses
        </button>
    </a>
    <br>
{% endif %}
{% if (current_user.email == "s_amy.tran@ousd.org") %}
    <a href="/verify" style="display:flex; justify-content:center; text-decoration:none;">
        <button class='text-light' style="margin-top:3%; padding-top:1.5%; padding-left:3%; padding-bottom:1.5%; padding-right:3%; border:none; background-color:#2a7877; border-radius:15px; text-decoration:none;">
            Unverified Courses
        </button>
    </a>
    <br>
{% endif %}
<!-- <div style='display:flex; justify-content:center;'>
    <a href="/module/new" class='m-3'style="width:25%; background-color:#1C6363;  border-radius:5%;  padding:1.5%;">
    
        <img src="./static/plus.jpg" style=" width:100%; margin-bottom:9%; background-color: white; border-radius:10%;">
        <br>
        <strong class="text-light" style="font-size:150%;">Add your course</strong>
        <br>
        <br>
    </a>
    <div class='m-3' style="width:25%;  padding:1.5%; padding-bottom:3%;">
    </div>
    <div class='m-3' style="width:25%;  padding:1.5%; padding-bottom:3%;">
    </div>
</div> -->
{% endblock %}