{% extends 'base.html' %}

{% block body %}
    <div style="padding:10%; padding-top:0%;">
        <!-- <h4 style="color:#B8B8B8;">All questions or text that is light grey will not show up in the actual module when created</h4> -->
        <form method=post>

            {{form.hidden_tag()}}
                <!-- special type of field it makes form more secure -->
                <!-- even if comment out, jinja always looks at code in brackets -->

            <h5  style="font-weight:bolder; text-align:center;">
                {{form.title(size='100%', placeholder='{{form.title.label}}', style="text-align:center; color:black; padding:0.5%;")}}
                <!--List the errors for this field-->
                {% for error in form.subject.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </h5>
            <br><br>
            <p>
                {{form.intro(placeholder='{{form.intro.label}}', style='width:92%')}}
                {% for error in form.intro.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        </form>
    </div>
{% endblock %}