
{% extends 'base.html' %}

{% block body %}
<div style="display:flex; justify-content:center; padding:1%; border-radius:25%;">
    {% for course in verified_data %}
        {% for amount in current_user.courses_marked %}
            <div style="width:2%; height:2%; background-color:green; margin-right:0%; margin-left:0%;">
                
            </div>
        {% endfor %}
        {% if loop.index > current_user.courses_marked.length %}
            <div style="width:2%; height:2%; background-color:gray; margin-right:0%; margin-left:0%;">
                    
            </div>
        {% endif %}
    {% endfor %}
</div>
<h4 style="text-align:center; color:#2a7877; margin-bottom:8%;" ><strong>Explore Modules</strong></h4>
{% if verified_data %}
    {% for course in verified_data %}
        <div class="row border-bottom">
            <div class="col-2">
                {% if (loop.index%3) == 1 %}
                    <div>
                        <a href='/Module/{{module.id}}' class='m-3' style="text-decoration:none; background-color:#2a7877; color:white; border-radius:5%; width:25%;  padding:1.5%; padding-bottom:3%;">
                            <img src="./static/no_image.png" style="width:100%;  margin-bottom:9%;">
                            <br>
                            <strong style="font-size:150%;">{{course.title}}</strong>
                            {% if course in current_user.courses_marked %}
                                <div>
                                    <img src="./static/Complete.png" style="width:7%;">
                                    <small style="font-size:110%;">Complete</small>
                                </div>  
                            {% else %}  
                                <div>
                                    <img src="./static/incomplete.png" style="width:7%;">
                                    <small style="font-size:110%;">Incomplete</small>
                                </div>
                            {% endif %}
                        </a>
                    </div>
                {% endif %}
                {% if loop.index == verified_data.length %}
                    {% if (loop.index%3) == 0%}
                        <a href="/module/new" class='m-3'style="width:25%; background-color:#1C6363;  border-radius:5%;  padding:1.5%;">
        
                            <img src="./static/plus.jpg" style=" width:100%; margin-bottom:9%; background-color: white; border-radius:10%;">
                            <br>
                            <strong class="text-light" style="font-size:150%;">Add your course</strong>
                            <br>
                            <br>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-2">
                {% if (loop.index%3) == 2 %}
                    <div>
                        <a href='/Module/{{module.id}}' class='m-3' style="text-decoration:none; background-color:#2a7877; color:white; border-radius:5%; width:25%;  padding:1.5%; padding-bottom:3%;">
                            <img src="./static/no_image.png" style="width:100%;  margin-bottom:9%;">
                            <br>
                            <strong style="font-size:150%;">{{course.title}}</strong>
                            {% if course in current_user.courses_marked %}
                                <div>
                                    <img src="./static/Complete.png" style="width:7%;">
                                    <small style="font-size:110%;">Complete</small>
                                </div>  
                            {% else %}  
                                <div>
                                    <img src="./static/incomplete.png" style="width:7%;">
                                    <small style="font-size:110%;">Incomplete</small>
                                </div>
                            {% endif %}
                        </a>
                    </div>
                {% endif %}
                {% if loop.index == verified_data.length %}
                    {% if (loop.index%3) == 1%}
                        <a href="/module/new" class='m-3'style="width:25%; background-color:#1C6363;  border-radius:5%;  padding:1.5%;">
        
                            <img src="./static/plus.jpg" style=" width:100%; margin-bottom:9%; background-color: white; border-radius:10%;">
                            <br>
                            <strong class="text-light" style="font-size:150%;">Add your course</strong>
                            <br>
                            <br>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col">
                {% if (loop.index%3) == 0 %}
                    <div>
                        <a href='/Module/{{module.id}}' class='m-3' style="text-decoration:none; background-color:#2a7877; color:white; border-radius:5%; width:25%;  padding:1.5%; padding-bottom:3%;">
                            <img src="./static/no_image.png" style="width:100%;  margin-bottom:9%;">
                            <br>
                            <strong style="font-size:150%;">{{course.title}}</strong>
                            {% if course in current_user.courses_marked %}
                                <div>
                                    <img src="./static/Complete.png" style="width:7%;">
                                    <small style="font-size:110%;">Complete</small>
                                </div>  
                            {% else %}  
                                <div>
                                    <img src="./static/incomplete.png" style="width:7%;">
                                    <small style="font-size:110%;">Incomplete</small>
                                </div>
                            {% endif %}
                        </a>
                    </div>
                {% endif %}
                {% if loop.index == verified_data.length %}
                    {% if (loop.index%3) == 1%}
                        <a href="/module/new" class='m-3'style="width:25%; background-color:#1C6363;  border-radius:5%;  padding:1.5%;">
        
                            <img src="./static/plus.jpg" style=" width:100%; margin-bottom:9%; background-color: white; border-radius:10%;">
                            <br>
                            <strong class="text-light" style="font-size:150%;">Add your course</strong>
                            <br>
                            <br>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endif %}

<br><br>
{% if (current_user.email == "s_anlisa.liu@ousd.org") %}
    <a href="/verify">
        <button class='text-light' style="margin-top:3%; padding-top:1.5%; padding-left:3%; padding-bottom:1.5%; padding-right:3%; border:none; background-color:#2a7877; border-radius:15px; text-decoration:none;">
            Unverified Courses
        </button>
    </a>
{% endif %}
{% if (current_user.email == "s_amy.tran@ousd.org") %}
    <a href="/verify">
        <button class='text-light' style="margin-top:3%; padding-top:1.5%; padding-left:3%; padding-bottom:1.5%; padding-right:3%; border:none; background-color:#2a7877; border-radius:15px; text-decoration:none;">
            Unverified Courses
        </button>
    </a>
{% endif %}
<!-- <div style='display:flex; justify-content:center;'>
    <a href="/module/new" class='m-3'style="width:25%; background-color:#1C6363;  border-radius:5%;  padding:1.5%;">
    
        <img src="./static/plus.jpg" style=" width:100%; margin-bottom:9%; background-color: white; border-radius:10%;">
        <br>
        <strong class="text-light" style="font-size:150%;">Add your course</strong>
        <br>
        <br>
    </a>
    <div class='m-3' style="width:25%;  padding:1.5%; padding-bottom:3%;">
    </div>
    <div class='m-3' style="width:25%;  padding:1.5%; padding-bottom:3%;">
    </div>
</div> -->
{% endblock %}