{% extends 'base.html' %}

{% block body %}
<div style="padding:10%; padding-top:0%;">
    <h5 style="font-weight:bolder; text-align:center; margin-bottom:5%;">{{module.title}}</h5>
    {% if module.content1 %}
        <div>
            <p>{{module.content1|safe}}</p>
        </div>
    {% else %}
        
    {% endif %}
    {% if module.image1 %}
        <div style="display:flex; justify-content:center; margin:5%;">
            <img  width='65%' src="data:image;base64,{{base64encode(module.image1.read())}}">
        </div>
    {% else %}
        
    {% endif %}
    {% if module.video1 %}
        <div style="display:flex; justify-content:center; margin:5%;">
        <iframe  width="740" height="440"
            src="{{module.video1}}?control=1">
        </iframe>
    </div>
    {% else %}
        
    {% endif %}
    {% if module.content2 %}
        <div>
            <p>{{module.content2|safe}}</p>
        </div>
    {% else %}
        
    {% endif %}
    {% if module.image2 %}
        <div style="display:flex; justify-content:center; margin:5%;">
            <img  width='75%' src="data:image;base64,{{base64encode(module.image2.read())}}">
        </div>
    {% else %}
        
    {% endif %}
    {% if module.video2 %}
        <div style="display:flex; justify-content:center; margin:5%;">
        <iframe  width="740" height="440"
            src="{{module.video2}}?control=1">
        </iframe>
    </div>
    {% else %}
        
    {% endif %}
    {% if module.content3 %}
        <div>
            <p>{{module.content3|safe}}</p>
        </div>
    {% else %}
        
    {% endif %}
    {% if module.image3 %}
        <div style="display:flex; justify-content:center; margin:5%;">
            <img width='75%' src="data:image;base64,{{base64encode(module.image3.read())}}">
        </div>
    {% else %}
        
    {% endif %}
    {% if module.content4 %}
        <div>
            <p>{{module.content4|safe}}</p>
        </div>
    {% else %}
        
    {% endif %}
    {% if module.video3 %}
        <div style="display:flex; justify-content:center; margin:5%;">
        <iframe  width="740" height="440"
            src="{{module.video3}}?control=1">
        </iframe>
    </div>
    {% else %}
        
    {% endif %}
</div>
    {% if module.verified == False %}
        {% if (current_user.email == "s_anlisa.liu@ousd.org") %}
            <div style="display:flex; justify-content:space-between;">
                <form method=post>
                    {{adminForm.hidden_tag()}}
                    <button class='btn' style=" border:none; background-color:#2a7877; text-decoration:none;">
                        {{adminForm.verify_course(class='text-light',style="border:none; background-color:#2a7877;")}}
                    </button>
                </form>
                <a  style='float:right; background-color:#2a7877;'  class="ml-3 pb-2"  data-toggle="tooltip" data-placement="top" title="Delete Module" href="/module/delete/{{module.id}}">
                    <img class='bg-white' width="40" src="../static/delete.png">
                </a>
                <a style='float:right; background-color:#2a7877;' data-toggle="tooltip" data-placement="top" title="Edit Module" href="/module/edit/{{module.id}}">
                    <img class='bg-white' width="40" src="../static/edit.png">
                </a>
            </div>
        {% endif %}
        {% if (current_user.email == "s_amy.tran@ousd.org") %}
            <div class="col">
                <form method=post>
                    {{adminForm.hidden_tag()}}
                    <button class='btn' style=" border:none; background-color:#2a7877; text-decoration:none;">
                        {{adminForm.verify_course(class='text-light',style="border:none; background-color:#2a7877;")}}
                    </button>
                </form>
                <a style='float:right; background-color:#2a7877;'  class="ml-3 pb-2"  data-toggle="tooltip" data-placement="top" title="Delete Module" href="/module/delete/{{module.id}}">
                    <img class='bg-white' width="40" src="../static/delete.png">
                </a>
                <a style='float:right; background-color:#2a7877;' data-toggle="tooltip" data-placement="top" title="Edit Module" href="/module/edit/{{module.id}}">
                    <img class='bg-white' width="40" src="../static/edit.png">
                </a>
            </div>
            </div>
        {% endif %}
    {% else %}
    
    {% endif %}
    {% if module.verified %}
        {% if current_user.is_anonymous %}

        {% else %}
            {% if module in current_user.courses_marked %}
                <form method=post>
                    {{form.hidden_tag()}}
                    <button class="confetti_button" style=" border:none; background-color:#2a7877; border-radius:15px; padding:0.5%; text-decoration:none;">
                        {{form.mark_completion(class='text-light',style="border:none; background-color:#2a7877;")}}
                    </button>
                </form>
            {% else %}
                <h3>Completed</h3>
            {% endif %}
        {% endif %}
    {% endif %}
    
</div>
{% endblock %}