{% extends 'base.html' %}

{% block body %}

<div style="padding:10%; padding-top:0%;">
    <h5 id ='survey_title' style="font-weight:bolder; text-align:center;">Personality Quiz</h5>
    <br><br>
    <form action="" method=post  enctype="multipart/form-data" style="margin-left:37%;">
        {{form.hidden_tag()}}
        <div style="margin-bottom:1%;">
            <h6 style="padding-bottom:0.5%;"> {{form.creditcard.label}}</h6>
            <div style="margin-left:2%;">
                {{form.creditcard() }}
                <!--List the errors for this field-->
                {% for error in form.creditcard.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        <br>
        <div style="margin-bottom:1%;">
            <h6 style="padding-bottom:0.5%;"> {{form.student.label}}</h6>
            <div style="margin-left:2%;">
                {{form.student() }}
                <!--List the errors for this field-->
                {% for error in form.student.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        <br>
        <div style="margin-bottom:1%;">
            <h6 style="padding-bottom:0.5%;"> {{form.business.label}}</h6>
            <div style="margin-left:2%;">
                {{form.business() }}
                <!--List the errors for this field-->
                {% for error in form.business.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        <br>
        <div style="margin-bottom:1%;">
            <h6 style="padding-bottom:0.5%;"> {{form.travel.label}}</h6>
            <div style="margin-left:2%;">
                {{form.travel() }}
                <!--List the errors for this field-->
                {% for error in form.travel.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        <br>
        <div style="margin-bottom:1%;">
            <h6 style="padding-bottom:0.5%;"> {{form.dine.label}}</h6>
            <div style="margin-left:2%;">
                {{form.dine() }}
                <!--List the errors for this field-->
                {% for error in form.dine.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        <br>
        <div style="margin-bottom:1%;">
            <h6 style="padding-bottom:0.5%;"> {{form.cashback.label}}</h6>
            <div style="margin-left:2%;">
                {{form.cashback() }}
                <!--List the errors for this field-->
                {% for error in form.cashback.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        <br><br>
        <button style=" border:none; background-color:#2a7877; border-radius:15px; padding:0.5%; text-decoration:none; margin-left:4%;">
            {{form.submit(class='text-light',style="border:none; background-color:#2a7877;")}}
        </button>
    </form>
</div>

{% endblock %}