<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<h4 style="color:#2a7877; font-weight:bolder; text-align:center;">Log In to Save Your Progress</h4>
<br><br><br>
<h4 style="color:#2a7877; font-weight:bolder; text-align:center;">Note you have top go through your progress again, log in first then quiz again</h4>
<br><br><br><br>
<a href="/moduleQuiz" style="text-decoration: none;">
    <button class='text-light' style=" float:right; margin-top:5%; padding-top:1.5%; padding-left:3%; padding-bottom:1.5%; padding-right:3%; border:none; background-color:#2a7877; border-radius:15px; text-decoration:none;">
        Quiz
    </button>
</a>
<br><br><br><br><br><br><br>

{% endblock %}