
{% extends 'base.html' %}

{% block body %}

<h4 style="text-align:center; color:#2a7877; margin-bottom:8%;" ><strong>Verify Modules List</strong></h4>
{% if modules %}
    <div style="display:flex; justify-content:center; overflow:visible;">
        {% for module in modules %}
            {% if module in verified_data %}
                <!-- will leave empty if already verified -->
            {% else %}
                <a href="/Module/{{module.id}}" class='m-3'style="text-decoration:none; background-color:#54B6B4; color:white; border-radius:5%; width:25%;  padding:1.5%; padding-bottom:3%;">
                    {% if module.cover_image %}
                        <img class="img-thumbnail img-fluid" src="data:image;base64,{{base64encode(module.cover_image.read())}}"> <br>
                    {% else %}
                        <img class="img-thumbnail" width = "100" src="/static/no_image.png">
                    {% endif %}
                    <br>
                    <strong> {{module.title}} </strong>
                    <br><br>
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
{% endblock %}